[core]
	editor = \"C:\\Microsoft VS Code\\bin\\code\" --wait
[user]
	name = MANOJ CHETRY
	email = daakubhai770@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
